<div class="barra_progreso" id="barra-progreso"></div>
<!------bara de scroll personalisada-->
<!-- ==========================================HEADER START=============================-->

<div class="sidebar " id="sidebar">
    <!--div class="logo-details">
       <img loading="lazy" src="./assets/img/logoAutoLuxuryColor.png" alt="logo">
        <span class="logo-name">AUTOLUXURY</span>
    </div-->
    <ul class="nav-link">
        <li *ngIf="!sesionIniciada" >
            <a >
                <i class="fas fa-sign-in-alt"></i>
                <span class="link_name">Iniciar sesión</span>
            </a>
            <ul class="sub-menu blank">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/seguridad/login">Iniciar sesión</a></li>
            </ul>
        </li>
        <li *ngIf="!sesionIniciada" >
            <a>
                <i class="fas fa-user-plus"></i>
                <span class="link_name">Registrarse</span>
            </a>
            <ul class="sub-menu blank">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/administracion/registrar-cliente">Registrarse</a></li>
            </ul>
        </li>
        <li class="lista0">
            <div class="icon-link" (click)="MostrarSubmenu0()">
                <a>
                    <i class="fas fa-home"></i>
                    <span class="link_name">Inicio</span>    
                </a>
                <i class="fas fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a  (click)="cerrarMen()"  class="link_name" href="http://localhost:4200/inicio#inicio">Inicio</a></li>
                <li><a  (click)="cerrarMen()"  href="http://localhost:4200/inicio#mision">Misión</a></li>
                <li><a  (click)="cerrarMen()" href="http://localhost:4200/inicio#vision">Visión</a></li>
                <li><a  (click)="cerrarMen()"  href="http://localhost:4200/inicio#servicios">Servicios</a></li>
                <li><a  (click)="cerrarMen()"  href="http://localhost:4200/inicio#contactos">Contactenos</a></li>
                <li><a  (click)="cerrarMen()"  href="http://localhost:4200/inicio#mapa">Mapa del sitio</a></li>
            </ul>
        </li>
        <li class="lista1">
            <div class="icon-link" (click)="MostrarSubmenu1()">
                <a >
                    <i class="fas fa-car"></i>
                    <span class="link_name">Vehículos</span>    
                </a>
                <i class="fas fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/administracion/buscar-vehiculo">Vehiculos</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/buscar-vehiculo">Ver todos</a></li>
                <li *ngIf="sesionAdmin"><a (click)="cerrarMen()"routerLink="/administracion/registrar-vehiculo">Publicar</a></li>
            </ul>
        </li>
        <li *ngIf="sesionIniciada" class="lista2">
            <div class="icon-link" (click)="MostrarSubmenu2()">
                <a>
                    <i class="fas fa-user-cog"></i>
                    <span class="link_name">Mi Cuenta</span>    
                </a>
                <i class="fas fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/administracion/index-cliente/{{id}}">Mi Cuenta</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/actualizar-cliente/{{id}}">Actualizar Información</a></li>
                <li><a (click)="cerrarMen()" routerLink="/seguridad/cambiar-pasword/{{id}}">Cambiar contraseña</a></li>
                <li><a (click)="cerrarMen()" routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
            </ul>
        </li>
        <li *ngIf="sesionAdmin" class="lista7">
            <div class="icon-link" (click)="MostrarSubmenu7()">
                <a>
                    <i class="fas fa-users-cog"></i>
                    <span class="link_name">Administración</span>    
                </a>
                <i class="fas fa-chevron-down arrow" ></i>
            </div>
            <ul class="sub-menu">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/administracion/buscar-admin">Administración</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/buscar-admin">Ver Administradores</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/registrar-admin">Registrar Administrador</a></li>
            </ul>
        </li>
        <li *ngIf="sesionAsesor" >
            <a>
                <i class="fas fa-user-shield"></i>
                <span class="link_name">Página Principal</span>
            </a>
            <ul class="sub-menu blank">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/administracion/index-asesor">Página Principal</a></li>
            </ul>
        </li>
        <li *ngIf="sesionAdmin" class="lista3">
            <div class="icon-link" (click)="MostrarSubmenu3()">
                <a>
                    <i class="fas fa-user-friends"></i>
                    <span class="link_name">Asesores</span>    
                </a>
                <i class="fas fa-chevron-down arrow" ></i>
            </div>
            <ul class="sub-menu">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/administracion/buscar-asesor">Asesores</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/buscar-asesor">Ver todos</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/registrar-asesor">Registrar</a></li>
            </ul>
        </li>
        <li *ngIf="sesionAdmin || sesionAsesor" class="lista4">
            <div class="icon-link" (click)="MostrarSubmenu4()">
                <a>
                    <i class="fas fa-users"></i>
                    <span class="link_name">Clientes</span>    
                </a>
                <i class="fas fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="/administracion/buscar-cliente">Clientes</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/buscar-cliente">Ver todos</a></li>
                <li><a (click)="cerrarMen()" routerLink="/administracion/registrar-cliente">Registrar</a></li>
            </ul>
        </li>
        <li *ngIf="sesionAdmin || sesionAsesor" class="lista5">
            <div class="icon-link" (click)="MostrarSubmenu5()">
                <a> 
                    <i class="fas fa-file-alt"></i>
                    <span class="link_name">Solicitudes</span>    
                </a>
                <i class="fas fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="solicitud/buscar-solicitud">Solicitudes</a></li>
                <li><a (click)="cerrarMen()" routerLink="solicitud/buscar-solicitud">Ver Las Solicitudes</a></li>
            </ul>
        </li>
        <li *ngIf="sesionCliente" class="lista6">
            <div class="icon-link" (click)="MostrarSubmenu6()">
                <a>
                    <i class="fas fa-file-alt"></i>
                    <span class="link_name">Solicitudes</span>    
                </a>
                <i class="fas fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a (click)="cerrarMen()" class="link_name" routerLink="solicitud/info-solicitud/{{idSolicitud}}">Solicitudes</a></li>
                <li><a (click)="cerrarMen()" routerLink="solicitud/info-solicitud/{{idSolicitud}}">Mis solicitudes</a></li>
            </ul>
        </li>
        <!--li>
            <a href="#">
                <i class="fas fa-user"></i>
                <span class="link_name">Analizar</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="">Analizar</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user"></i>
                <span class="link_name">chart</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="">Chart</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class="fas fa-car"></i>
                    <span class="link_name">Plug</span>    
                </a>
                <i class="fas fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="">Plug</a></li>
                <li><a href="">HTML & CSS</a></li>
                <li><a href="">javasripts</a></li>
                <li><a href="">php & mysql</a></li>
            </ul>
        </li-->
        <li >
            <div class="profile-details" *ngIf="sesionIniciada">
                <div class="profile-content">
                    <a routerLink="/administracion/index-cliente/{{id}}"><img loading="lazy" src="./assets/img/use.png" alt="user"></a>
                </div>
                
                <div class="name-job" >
                    <div class="profile_name">{{nombre}}</div>
                    <div class="job">{{rol}}</div>
                </div>
                <a routerLink="/seguridad/cerrar-sesion">
                    <i class="fas fa-sign-out-alt loginIcon"></i>
                    <p>Cerrar Sesión</p>
                </a>
            </div>
            <div class="profile-details" *ngIf="!sesionIniciada">
                <div class="profile-content">
                    <a routerLink="/seguridad/login"><img loading="lazy" src="./assets/img/use.png" alt="user"></a>
                </div>
                
                <div class="name-job" >
                    <div class="profile_name">Bienvenido</div>
                    <div class="job">User</div>
                </div>
                <a routerLink="/seguridad/login">
                    <i class="fas fa-sign-in-alt"></i>
                    <p>Iniciar Sesión</p>
                </a>
            </div>
        </li>
    </ul>
</div>
<div class="home-section" >
    <div class="home-content" (click)="AparecerMenu()" (click)="cambiarVar()" >
        <!--i class="fas fa-bars"></i-->
        <div class="barra-content">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <span class="text">Cerrar</span>
    </div>
</div>

<button class="subirHome" id="subirHome">
    <!------boton home aparece al hacer scroll-->
    <i class="fas fa-chevron-up"></i>
</button>