<section class="infoPersona">
    <h1>Información de la Cuenta</h1>
    <div class="informacion" *ngIf="informacionPersona">
        <div><p>Nombres: </p><span>{{informacionPersona.nombres}}</span></div>
        <div><p>Apellidos: </p><span>{{informacionPersona.apellidos}}</span></div>
        <div><p>Email: </p> <span>{{informacionPersona.correoElectronico}}</span></div>
        <div><p>Celular: </p> <span>{{informacionPersona.celular}}</span></div>
        <div><p>Dirección: </p> <span>{{informacionPersona.direccion}}</span></div>        
    </div>

</section>
