<div class="modal" *ngIf="modal">
    <div class="modal-mensaje">
        <div class="titulo-x">
            <h1 class="h1">¡Listo!</h1>
            <i type="button" (click)="CerrarModal()" class="fas fa-times"></i>
        </div>
        <div class="mensaje">
            <p>la publicación se ha eliminado exitosamente</p>
        </div>
        <div class="boton-cerrar">
            <button type="button" (click)="CerrarModal()" >Cerrar</button>
        </div>
    </div>
</div>
<section class="crear-vehiculo-sesion">
   
    <form action=""  [formGroup]="fgValidador" (ngSubmit)="EliminarVehiculo()">
        <h1>Eliminar Publicaión?</h1>
        <p>Está seguro que desea eliminar esta Publicaión?,con esta acción no hay recuperación</p>
        <p>Request :</p>
        <div class="contenedor-inputs">
            <input formControlName="id" type="text" readonly>
        </div>
        <button  [disabled]="!fgValidador" [ngClass]="{'btnDisabled':!fgValidador.valid}"  type="submit"  class="boton">Eliminar</button>
    </form>
</section>